#map {
	width:100%;
	height: 500px;
	/*border: 1px solid #8390a5;*/
	/*-moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;*/
	
}
.map:-moz-full-screen {
height: 100%;
}

.map:-webkit-full-screen {
height: 100%;
}

.map:-ms-fullscreen {
height: 100%;
}

.map:fullscreen {
height: 100%;
}

#map1 {
    width:100%;
    height: 400px;
}
.map1:-moz-full-screen {
height: 100%;
}

.map1:-webkit-full-screen {
height: 100%;
}

.map1:-ms-fullscreen {
height: 100%;
}

.map1:fullscreen {
height: 100%;
}
.ol-rotate {
top: 3em;
}
/*
.ol-popup {
    position: absolute;
    min-width: 180px;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}*/
/* popup style */
.ol-popup
{	max-width:300px;
    min-width:100px;
    min-height:1em;
}
/* Image on popup */
.ol-popup img 
{	float: left;
    margin: 0 0.5em 0 0;
    max-width: 100px;
    max-height: 100px;
}

.custom-zoomSlider{
        position: absolute;
        background-color: rgba(255, 255, 255, .4);
        border-radius: 50px;
        padding: 2px;
        text-align: center;
        top: 8em;
        right: .5em;
        height: 200px;
        width: 40px;
      }
      
      .custom-zoomSlider button{
        position: relative;
        margin: 1px;
        padding: 0;
        color: #fff;
        font-size: 1.14em;
        font-weight: 700;
        text-decoration: none;
        width: 35px;
        height: 35px;
        line-height: .4em;
        background-color: #2a3f54;
        border: none;  
        border-radius: 50px;      
      }
       .custom-zoomSlider button:hover {
        text-decoration: none;
        background-color: #1abb9c;
      }


